body {
    padding: 4rem;
    background: #009fde;
    background: radial-gradient(circle, rgba(0, 159, 222, 1) 0%, rgba(87, 199, 133, 1) 71%, rgba(237, 221, 83, 1) 100%);
    font-size: 20px;
    margin: 0;
}

.card {
    width: 40%;
    border-radius: 10px;
}

.mascota-card {
    background-color: rgb(123, 205, 123);

}

.tittle {
    text-decoration: solid;
    color: rgb(195, 254, 251)
}

.estadisticas {
    color: rgb(26, 26, 64);
    background-color: rgb(127, 208, 255);
}

.filtro {
    border-radius: 10px;
    font-weight: bold;
}

.filtro-text {
    font-weight: bold;
    font-size: 1.2rem;
}

.select-search {
    font-size: 1rem;
    background-color: skyblue;
    border-radius: 10px;
}


.text-end {
    font-weight: bold;
}

.error {
    border-radius: 10px;
}

.card-tittle {
    border-radius: 10px;
    background-color: azure;
}

.info-card {
    border-radius: 10px;
    background-color: antiquewhite;
}

.info-mascotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 247, 169);
    border-radius: 10px;
}

.adoptado {
    background-color: #f38601;
}